<div>
  <toolbar-filter tituloPagina="Categoria"
                  [listMode]="false"
                  [loading]="loading"
                  (salvar)="save()"
                  (limpar)="clear()">
  </toolbar-filter>
</div>

<div class="card-body">

  <div class="row g-3">
    <text-box-component label="Nome da Categoria" colClass="col-md-4" [disabled]="loading" [(dataField)]="model.nome"></text-box-component>
    <select-enum label="Tipo" colClass="col-md-3" placeholder="Selecione o tipo"
                 [disabled]="loading" [enumObject]="tipoMovimentoEnum" [(dataField)]="model.tipo"></select-enum>
  </div>

</div>
