<div class="page-context-header">
  <div class="page-title">
    <i class="bi bi-window-stack"></i>
    <span class="title-text">{{ tituloPagina }}</span>
  </div>

  <div class="page-actions">
    @if (listMode) {
      <button type="button" class="btn-action secondary" [disabled]="loading" (click)="filtrarClick()">
        <span [class]="loading ? 'spinner-border spinner-border-sm' : 'bi bi-funnel'"></span>
        <span>Filtrar</span>
      </button>

      <button type="button" class="btn-action primary" [disabled]="loading" (click)="novoClick()">
        <i class="bi bi-plus-circle"></i>
        <span>Novo</span>
      </button>
    }

    @if (!listMode) {
      <button type="button" class="btn-action success" [disabled]="loading" (click)="salvarClick()">
        <span [class]="loading ? 'spinner-border spinner-border-sm' : 'bi bi-check-circle'"></span>
        <span>{{ loading ? 'Salvando...' : 'Salvar' }}</span>
      </button>
    }

    <button type="button" class="btn-action secondary" [disabled]="loading" (click)="limparClick()">
      <i class="bi bi-eraser"></i>
      <span>Limpar</span>
    </button>

    <button type="button" class="btn-action danger" [disabled]="loading" (click)="fecharClick()">
      <i class="bi bi-x-circle"></i>
      <span>Fechar</span>
    </button>

  </div>
</div>
